src/index.pug
extends _layout.pug

block content
  //- 轉向提示
  section.tips 
    div.tips-wrap
      .tips-box
        h2 請將手機橫向拿取(確認解除直向鎖定)，
          br
          |已獲得最佳的遊玩體驗！
        button.enter 進入

  //- 遊戲說明
  section.instructionsplide
    a.close_splide(href='#' data-btnEffect) 關閉 
    .splide__track
      .splide__list
        .splide__slide 
          img(src="images/instruction1.png")
        .splide__slide 
          img(src="images/instruction2.png")
        .splide__slide 
          img(src="images/instruction3.png")
        .splide__slide 
          img(src="images/instruction4.png")
        .splide__slide 
          img(src="images/instruction5.png")
  //- 主頁
  .splide#home
    .splide__track
      .splide__list
        .splide__slide 
          section.section-kv
            .section-kv__decobox
              .section-kv__hamster
                img(src="images/components/animal_character_hamster.png", alt="hamster")
              .section-kv__acorn
                img(src="images/components/donguri.png", alt="acorn")
              a.section-kv__record(href="#" data-btnEffect)
                  img.icon-search(src="images/components/icon-search.png", alt="") 
                  span 答錯紀錄
            .container
              .section-kv-list.font-bold
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 1
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 2
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 3
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 4
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 5
        .splide__slide 
          section.section-kv.kv-rain 
            .section-kv__decobox
              .section-kv__hamster
                img(src="images/components/animal_character_hamster.png", alt="hamster")
              .section-kv__acorn
                img(src="images/components/donguri.png", alt="acorn")
              a.section-kv__record(href="#" data-btnEffect )
                  img.icon-search(src="images/components/icon-search.png", alt="") 
                  span 答錯紀錄
            .container
              .section-kv-list.font-bold
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 6
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 7
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 8
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 9
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 10
        .splide__slide 
          section.section-kv.kv-yuyake
            .section-kv__decobox
              .section-kv__hamster
                img(src="images/components/animal_character_hamster.png", alt="hamster")
              .section-kv__acorn
                img(src="images/components/donguri.png", alt="acorn")
              a.section-kv__record(href="#")
                  img.icon-search(src="images/components/icon-search.png", alt="") 
                  span 答錯紀錄
            .container
              .section-kv-list.font-bold
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 11
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 12
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 13
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 14
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 15
        .splide__slide 
          section.section-kv.kv-snow 
            .section-kv__decobox
              .section-kv__hamster
                img(src="images/components/animal_character_hamster.png", alt="hamster")
              .section-kv__acorn
                img(src="images/components/donguri.png", alt="acorn")
              a.section-kv__record(href="#")
                  img.icon-search(src="images/components/icon-search.png", alt="") 
                  span 答錯紀錄
            .container
              .section-kv-list.font-bold
                a(href="#Stage" data-btnEffect ).section-kv-item.card-wrap.lb-open 
                  .number 16
                a(href="#Stage" data-btnEffect ).section-kv-item.card-wrap.lb-open 
                  .number 17
                a(href="#Stage" data-btnEffect ).section-kv-item.card-wrap.lb-open 
                  .number 18
                a(href="#Stage" data-btnEffect ).section-kv-item.card-wrap.lb-open 
                  .number 19
                a(href="#Stage" data-btnEffect ).section-kv-item.card-wrap.lb-open 
                  .number 20
  
  //- 關卡１
  section.round.round_first
    .round-header
      a.round-back(href="#" data-btnEffect)
        img(src="images/components/icon-back.png", alt="back",title="Back")
      .round-block.round-timer 
        .progressBar
        .progressText 10s
      .round-block.round-score
        p.round-score-title.font score
        .round-score-num  0
    .subject
      .subject-bg 
        .subject-wordimg
          img 
        .subject-wordtext
        input#ans-eng(type="hidden")
    .options
      .card__wrapper
        a.card(href="#" data-btnEffect) 
          .card__front 
            .font-bold.ans-word#ans-word-0 
        a.card(href="#" data-btnEffect) 
          .card__front
            .font-bold.ans-word#ans-word-1 
        a.card(href="#" data-btnEffect) 
          .card__front
            .font-bold.ans-word#ans-word-2
        a.card(href="#" data-btnEffect) 
          .card__front
            .font-bold.ans-word#ans-word-3 
    .hamster
      img(src="images/components/animal_character_hamster.png")
    a(href="#").listen
      img(src="images/components/icon-music.png", alt="play" ,title="Play")
  //- 關卡2 填字
  //- section.round.round_second
    .round-header
      a.round-back(href="#")
        img(src="images/components/icon-back.png", alt="back")
      .round-block.round-timer 
        .progressBar
        .progressText 10s
      .round-block.round-score
        .round-score-title score
        .round-score-num  200
    .round-row
      .subject
        img(src="")
      .crossword
        .crossword-wordtext.font-bold 
        form.form(action="")
          .form-group
            //- input.form-control(type="text" , value="b")

    .options
      .letter__wrapper
        .letter 
          p 
        .letter 
          p 
        .letter 
          p 
        .letter 
          p 
    .hamster
      img(src="images/components/animal_character_hamster.png")
    a(href="#").listen
      img(src="images/components/icon-music.png", alt="play" ,title="Play")
    //- 關卡2 填字
  
  //- 關卡2 聽力測驗
  section.round.round_second
    .round-header
      a.round-back(href="#" data-btnEffect)
        img(src="images/components/icon-back.png", alt="back")
      .round-block.round-timer 
        .progressBar
        .progressText 20s
      .round-block.round-score
        .round-score-title score
        .round-score-num  0
    .round-row
      .subject
        img(src="images/words/banner.png", alt="Banner")
      .crossword.flex-grow  
        .crossword-wordtext 
        .replay.replay-wrap
          //- div 
            //- audio.replay-wordsplay(src="audio/words/one.mp3") 
          //-   button.replay-wordsplay
          //- div
          //-   button.replay-wordsplay 
          //- div 
          //-   button.replay-wordsplay 
          //- div 
          //-   button.replay-wordsplay 
    .options
      .letter__wrapper
        .letter.letter-g
          p A
          input(type="hidden", name="listenWord")
        .letter.letter-b
          p B
          input(type="hidden", name="listenWord")
        .letter.letter-y 
          p C
          input(type="hidden", name="listenWord")
        .letter.letter-p
          p D
          input(type="hidden", name="listenWord")

    .hamster
      img(src="images/components/animal_character_hamster.png")
    //- a(href="#").listen
    //-   img(src="images/components/icon-music.png", alt="play" ,title="Play")
  
  //- 關卡3
  section.round.round_third
    .round-header
      a.round-back(href="#" data-btnEffect)
        img(src="images/components/icon-back.png", alt="back")
      .round-block.round-timer 
        .progressBar
        .progressText 20s
      .round-block.round-score
        .round-score-title score
        .round-score-num  0
    .round-row
      .subject
        .subject-bg 
          .subject-wordimg
            img(src="images/words/banner.png", alt="Banner")
      .crossword
        .crossword-wordtext 
        form.form(action="")
          .form-group
            //- .form-control
    .options
      .letter__wrapper
        //- .letter 
          p b

    .hamster
      img(src="images/components/animal_character_hamster.png")
    a(href="#").listen
      img(src="images/components/icon-music.png", alt="play" ,title="Play")

  //- 學習
  section.learn#learnbox
    .round-header
      a.round-back(href="#" data-btnEffect)
        img(src="images/components/icon-back.png", alt="back",title="Back")
    .learn__wrap  
      .learn__con 
        .learn__wordimg
          img(src="")
        .learn__wordname
          p.learn__word-tw 
          p.learn__word-en.font-bold 
    a(href="#",title="Replay" data-btnEffect).learn__replay 
      img(src="images/components/btn-replay.png", alt="Replay")
    .hamster
      img(src="images/components/animal_character_hamster.png")

  //- 錯誤紀錄
  section.error 
    .round-header
      a.round-back(href="#")
        img(src="images/components/icon-back.png", alt="back",title="Back")
    .error__wrap  
      .error__heading   
        img(src="images/components/error-text.png", alt="錯誤紀錄")
      .error__con 
        .error__body
          .error__list 
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error 香蕉
                p.error__wodr-en.font-bold watermelon

            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold banner
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold banner
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold banner
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon

  //- feekback
  section.feekback 
    .feekback__wrap 
      .feekback__box
        //- .false = x .circle = o
  
  audio#click(src="audio/click.mp3") 
  audio#answer(src="audio/answer.mp3") 
  audio#wrong(src="audio/wrong.mp3") 

dist/index.html
<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta property="og:title" content="English 單字樂園 |Rita.L">
    <meta property="og:image" content="/images/fb-share.png">
    <meta property="og:url" content="">
    <meta property="og:description" content="English">
    <meta name="author" content="Rita.L">
    <meta name="copyright" content="Rita.L">
    <meta name="keywords" content="English">
    <meta name="description" content="English">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <title>English 單字樂園 | Rita.L</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.9/dist/css/splide.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body class="default">
    <section class="animation"> 
      <h1 class="animate">loading<span>loading</span>loading<span>loading</span></h1>
      <h1 class="animate">loading<span>loading</span>loading<span>loading</span></h1>
      <h1 class="animate">loading<span>loading</span>loading<span>loading</span></h1>
      <h1 class="animate">loading<span>loading</span>loading<span>loading</span></h1>
    </section>
    <div class="wrapper-container">
      <div class="wrapper">
        <div class="wrapper-mask"></div>
        <section class="tips"> 
          <div class="tips-wrap">
            <div class="tips-box">
              <h2>請將手機橫向拿取(確認解除直向鎖定)，<br>已獲得最佳的遊玩體驗！</h2>
              <button class="enter">進入</button>
            </div>
          </div>
        </section>
        <section class="instructionsplide"><a class="close_splide" href="#" data-btnEffect>關閉 </a>
          <div class="splide__track">
            <div class="splide__list">
              <div class="splide__slide"> <img src="images/instruction1.png"></div>
              <div class="splide__slide"> <img src="images/instruction2.png"></div>
              <div class="splide__slide"> <img src="images/instruction3.png"></div>
              <div class="splide__slide"> <img src="images/instruction4.png"></div>
              <div class="splide__slide"> <img src="images/instruction5.png"></div>
            </div>
          </div>
        </section>
        <div class="splide" id="home">
          <div class="splide__track">
            <div class="splide__list">
              <div class="splide__slide"> 
                <section class="section-kv">
                  <div class="section-kv__decobox">
                    <div class="section-kv__hamster"><img src="images/components/animal_character_hamster.png" alt="hamster"></div>
                    <div class="section-kv__acorn"><img src="images/components/donguri.png" alt="acorn"></div><a class="section-kv__record" href="#" data-btnEffect><img class="icon-search" src="images/components/icon-search.png" alt=""><span>答錯紀錄</span></a>
                  </div>
                  <div class="container">
                    <div class="section-kv-list font-bold"><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">1</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">2</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">3</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">4</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">5</div></a></div>
                  </div>
                </section>
              </div>
              <div class="splide__slide"> 
                <section class="section-kv kv-rain"> 
                  <div class="section-kv__decobox">
                    <div class="section-kv__hamster"><img src="images/components/animal_character_hamster.png" alt="hamster"></div>
                    <div class="section-kv__acorn"><img src="images/components/donguri.png" alt="acorn"></div><a class="section-kv__record" href="#" data-btnEffect><img class="icon-search" src="images/components/icon-search.png" alt=""><span>答錯紀錄</span></a>
                  </div>
                  <div class="container">
                    <div class="section-kv-list font-bold"><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">6</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">7</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">8</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">9</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">10</div></a></div>
                  </div>
                </section>
              </div>
              <div class="splide__slide"> 
                <section class="section-kv kv-yuyake">
                  <div class="section-kv__decobox">
                    <div class="section-kv__hamster"><img src="images/components/animal_character_hamster.png" alt="hamster"></div>
                    <div class="section-kv__acorn"><img src="images/components/donguri.png" alt="acorn"></div><a class="section-kv__record" href="#"><img class="icon-search" src="images/components/icon-search.png" alt=""><span>答錯紀錄</span></a>
                  </div>
                  <div class="container">
                    <div class="section-kv-list font-bold"><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">11</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">12</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">13</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">14</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">15</div></a></div>
                  </div>
                </section>
              </div>
              <div class="splide__slide"> 
                <section class="section-kv kv-snow"> 
                  <div class="section-kv__decobox">
                    <div class="section-kv__hamster"><img src="images/components/animal_character_hamster.png" alt="hamster"></div>
                    <div class="section-kv__acorn"><img src="images/components/donguri.png" alt="acorn"></div><a class="section-kv__record" href="#"><img class="icon-search" src="images/components/icon-search.png" alt=""><span>答錯紀錄</span></a>
                  </div>
                  <div class="container">
                    <div class="section-kv-list font-bold"><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">16</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">17</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">18</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">19</div></a><a class="section-kv-item card-wrap lb-open" href="#Stage" data-btnEffect> 
                        <div class="number">20</div></a></div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
        <section class="round round_first">
          <div class="round-header"><a class="round-back" href="#" data-btnEffect><img src="images/components/icon-back.png" alt="back" title="Back"></a>
            <div class="round-block round-timer"> 
              <div class="progressBar"></div>
              <div class="progressText">10s</div>
            </div>
            <div class="round-block round-score">
              <p class="round-score-title font">score</p>
              <div class="round-score-num"> 0</div>
            </div>
          </div>
          <div class="subject">
            <div class="subject-bg"> 
              <div class="subject-wordimg"><img></div>
              <div class="subject-wordtext"></div>
              <input id="ans-eng" type="hidden">
            </div>
          </div>
          <div class="options">
            <div class="card__wrapper"><a class="card" href="#" data-btnEffect> 
                <div class="card__front"> 
                  <div class="font-bold ans-word" id="ans-word-0"> </div>
                </div></a><a class="card" href="#" data-btnEffect> 
                <div class="card__front">
                  <div class="font-bold ans-word" id="ans-word-1"> </div>
                </div></a><a class="card" href="#" data-btnEffect> 
                <div class="card__front">
                  <div class="font-bold ans-word" id="ans-word-2"></div>
                </div></a><a class="card" href="#" data-btnEffect> 
                <div class="card__front">
                  <div class="font-bold ans-word" id="ans-word-3"> </div>
                </div></a></div>
          </div>
          <div class="hamster"><img src="images/components/animal_character_hamster.png"></div><a class="listen" href="#"><img src="images/components/icon-music.png" alt="play" title="Play"></a>
        </section>
        <section class="round round_second">
          <div class="round-header"><a class="round-back" href="#" data-btnEffect><img src="images/components/icon-back.png" alt="back"></a>
            <div class="round-block round-timer"> 
              <div class="progressBar"></div>
              <div class="progressText">20s</div>
            </div>
            <div class="round-block round-score">
              <div class="round-score-title">score</div>
              <div class="round-score-num"> 0</div>
            </div>
          </div>
          <div class="round-row">
            <div class="subject"><img src="images/words/banner.png" alt="Banner"></div>
            <div class="crossword flex-grow"> 
              <div class="crossword-wordtext"> </div>
              <div class="replay replay-wrap"></div>
            </div>
          </div>
          <div class="options">
            <div class="letter__wrapper">
              <div class="letter letter-g">
                <p>A</p>
                <input type="hidden" name="listenWord">
              </div>
              <div class="letter letter-b">
                <p>B</p>
                <input type="hidden" name="listenWord">
              </div>
              <div class="letter letter-y"> 
                <p>C</p>
                <input type="hidden" name="listenWord">
              </div>
              <div class="letter letter-p">
                <p>D</p>
                <input type="hidden" name="listenWord">
              </div>
            </div>
          </div>
          <div class="hamster"><img src="images/components/animal_character_hamster.png"></div>
        </section>
        <section class="round round_third">
          <div class="round-header"><a class="round-back" href="#" data-btnEffect><img src="images/components/icon-back.png" alt="back"></a>
            <div class="round-block round-timer"> 
              <div class="progressBar"></div>
              <div class="progressText">20s</div>
            </div>
            <div class="round-block round-score">
              <div class="round-score-title">score</div>
              <div class="round-score-num"> 0</div>
            </div>
          </div>
          <div class="round-row">
            <div class="subject">
              <div class="subject-bg"> 
                <div class="subject-wordimg"><img src="images/words/banner.png" alt="Banner"></div>
              </div>
            </div>
            <div class="crossword">
              <div class="crossword-wordtext"> </div>
              <form class="form" action="">
                <div class="form-group"></div>
              </form>
            </div>
          </div>
          <div class="options">
            <div class="letter__wrapper"></div>
          </div>
          <div class="hamster"><img src="images/components/animal_character_hamster.png"></div><a class="listen" href="#"><img src="images/components/icon-music.png" alt="play" title="Play"></a>
        </section>
        <section class="learn" id="learnbox">
          <div class="round-header"><a class="round-back" href="#" data-btnEffect><img src="images/components/icon-back.png" alt="back" title="Back"></a></div>
          <div class="learn__wrap"> 
            <div class="learn__con"> 
              <div class="learn__wordimg"><img src=""></div>
              <div class="learn__wordname">
                <p class="learn__word-tw"> </p>
                <p class="learn__word-en font-bold"> </p>
              </div>
            </div>
          </div><a class="learn__replay" href="#" title="Replay" data-btnEffect> <img src="images/components/btn-replay.png" alt="Replay"></a>
          <div class="hamster"><img src="images/components/animal_character_hamster.png"></div>
        </section>
        <section class="error"> 
          <div class="round-header"><a class="round-back" href="#"><img src="images/components/icon-back.png" alt="back" title="Back"></a></div>
          <div class="error__wrap"> 
            <div class="error__heading">  <img src="images/components/error-text.png" alt="錯誤紀錄"></div>
            <div class="error__con"> 
              <div class="error__body">
                <div class="error__list"> 
                  <div class="error__item"> 
                    <div class="error__item-wordimg"><img src="images/words/banner.png" alt="banner"></div>
                    <div class="error__item-wordname">
                      <p class="error">香蕉</p>
                      <p class="error__wodr-en font-bold">watermelon</p>
                    </div>
                  </div>
                  <div class="error__item"> 
                    <div class="error__item-wordimg"><img src="images/words/banner.png" alt="banner"></div>
                    <div class="error__item-wordname">
                      <p class="error__wodr-tw">香蕉</p>
                      <p class="error__wodr-en font-bold">watermelon</p>
                    </div>
                  </div>
                  <div class="error__item"> 
                    <div class="error__item-wordimg"><img src="images/words/banner.png" alt="banner"></div>
                    <div class="error__item-wordname">
                      <p class="error__wodr-tw">香蕉</p>
                      <p class="error__wodr-en font-bold">watermelon</p>
                    </div>
                  </div>
                  <div class="error__item"> 
                    <div class="error__item-wordimg"><img src="images/words/banner.png" alt="banner"></div>
                    <div class="error__item-wordname">
                      <p class="error__wodr-tw">香蕉</p>
                      <p class="error__wodr-en font-bold">banner</p>
                    </div>
                  </div>
                  <div class="error__item"> 
                    <div class="error__item-wordimg"><img src="images/words/banner.png" alt="banner"></div>
                    <div class="error__item-wordname">
                      <p class="error__wodr-tw">香蕉</p>
                      <p class="error__wodr-en font-bold">watermelon</p>
                    </div>
                  </div>
                  <div class="error__item"> 
                    <div class="error__item-wordimg"><img src="images/words/banner.png" alt="banner"></div>
                    <div class="error__item-wordname">
                      <p class="error__wodr-tw">香蕉</p>
                      <p class="error__wodr-en font-bold">watermelon</p>
                    </div>
                  </div>
                  <div class="error__item"> 
                    <div class="error__item-wordimg"><img src="images/words/banner.png" alt="banner"></div>
                    <div class="error__item-wordname">
                      <p class="error__wodr-tw">香蕉</p>
                      <p class="error__wodr-en font-bold">banner</p>
                    </div>
                  </div>
                  <div class="error__item"> 
                    <div class="error__item-wordimg"><img src="images/words/banner.png" alt="banner"></div>
                    <div class="error__item-wordname">
                      <p class="error__wodr-tw">香蕉</p>
                      <p class="error__wodr-en font-bold">watermelon</p>
                    </div>
                  </div>
                  <div class="error__item"> 
                    <div class="error__item-wordimg"><img src="images/words/banner.png" alt="banner"></div>
                    <div class="error__item-wordname">
                      <p class="error__wodr-tw">香蕉</p>
                      <p class="error__wodr-en font-bold">watermelon</p>
                    </div>
                  </div>
                  <div class="error__item"> 
                    <div class="error__item-wordimg"><img src="images/words/banner.png" alt="banner"></div>
                    <div class="error__item-wordname">
                      <p class="error__wodr-tw">香蕉</p>
                      <p class="error__wodr-en font-bold">banner</p>
                    </div>
                  </div>
                  <div class="error__item"> 
                    <div class="error__item-wordimg"><img src="images/words/banner.png" alt="banner"></div>
                    <div class="error__item-wordname">
                      <p class="error__wodr-tw">香蕉</p>
                      <p class="error__wodr-en font-bold">watermelon</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="feekback"> 
          <div class="feekback__wrap"> 
            <div class="feekback__box"></div>
          </div>
        </section>
        <audio id="click" src="audio/click.mp3"> </audio>
        <audio id="answer" src="audio/answer.mp3"> </audio>
        <audio id="wrong" src="audio/wrong.mp3"> </audio>
      </div>
      <div class="lightbox lightbox__wrap">
        <div class="lightbox__body stage__bg" id="Stage"><a class="lightbox__close close" href="javascript:;" title="關閉"><i class="icon-close"></i></a><a class="lightbox__learnbox" href="#learnbox" title="學習"><img src="images/components/icon-learn.png" alt="" srcset=""></a>
          <div class="lightbox__container">
            <div class="lightbox__item">
              <div class="lightbox__content"> 
                <div class="stage-list"> <a class="stage-item lv-easy" href="#easy" title="Easy" rel="0"> 
                    <div class="lv-block red"><img class="lv-icon" src="images/components/icon-easy.png" alt="easy"><img class="lv-text" src="images/components/text-easy.png" alt="easy"></div>
                    <div class="lv-score font-bold">
                      <p class="easy-score" id="score0">0</p>
                    </div>
                    <div class="stage-star" id="0"><img src="images/components/star_n.png" alt=""><img src="images/components/star_n.png" alt=""><img src="images/components/star_n.png" alt=""></div></a><a class="stage-item lv-normal" href="#normal" title="Normal" rel="1">
                    <div class="lv-block green"><img class="lv-icon" src="images/components/icon-normal.png" alt="easy"><img class="lv-text" src="images/components/text-normal.png" alt="easy"></div>
                    <div class="lv-score font-bold">
                      <p class="normal-score" id="score1">0</p>
                    </div>
                    <div class="stage-star" id="1"><img src="images/components/star_n.png" alt=""><img src="images/components/star_n.png" alt=""><img src="images/components/star_n.png" alt=""></div></a><a class="stage-item lv-hard" href="#hard" title="Hard" rel="2">            
                    <div class="lv-block blue"><img class="lv-icon" src="images/components/icon-hard.png" alt="easy"><img class="lv-text" src="images/components/text-hard.png" alt="easy"></div>
                    <div class="lv-score font-bold">
                      <p class="hard-score" id="score2">0</p>
                    </div>
                    <div class="stage-star" id="2"><img src="images/components/star_n.png" alt=""><img src="images/components/star_n.png" alt=""><img src="images/components/star_n.png" alt=""></div></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="lightbox__body state" id="ScoreState">
          <div class="lightbox__container">
            <div class="state__item state-title state-title--success">
              <div class="state__item-stage">stage </div>
              <div class="state__item-face state__item-face--success"></div>
              <div class="state__item-star"><img src="images/components/star_n.png"><img src="images/components/star_n.png"><img src="images/components/star_n.png"></div>
              <div class="state__item-score"> <span>score</span><span class="state__item-scoreNum">0</span></div><a class="btn--next RunNext" href="#" title="Next"><img src="images/components/icon-next.png" alt="Next"></a>
            </div>
          </div>
        </div>
        <div class="lightbox__body record record__body" id="Record">
          <div class="lightbox__container">
            <div class="record__item">
              <div class="record-title">答題結果一覽</div>
              <ul class="record-list"> 
                <li class="record-list-item"> 
                  <div class="icon icon-tick"></div>
                  <p class="record-eng">banana</p>
                  <p class="record-ch">香蕉 </p>
                </li>
                <li class="record-list-item"> 
                  <div class="icon icon-tick"></div>
                  <p class="record-eng">apple</p>
                  <p class="record-ch">蘋果</p>
                </li>
                <li class="record-list-item"> 
                  <div class="icon icon-tick"></div>
                  <p class="record-eng">bwatermelon</p>
                  <p class="record-ch">西瓜</p>
                </li>
                <li class="record-list-item"> 
                  <div class="icon icon-cross"></div>
                  <p class="record-eng">apple</p>
                  <p class="record-ch">蘋果</p>
                </li>
              </ul><a class="btn--next" href="#" title="Next"><img src="images/components/icon-next.png" alt="Next"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
    <script src="js/jquery.preload.min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
  </body>
</html>
